# Mark some repl-theme-bridge files as linguist-generated so that
# they doesn't show up in diffs automatically
repl-theme-bridge/yarn.lock linguist-generated=true
repl-theme-bridge/package.json linguist-generated=true

# Text files newline normalisation
* text=auto
