# Core modules (mandatory)
jupyterlab~=4.2.5
jupyterlite-core>=0.4.5,<0.5

# Python kernel (optional)
jupyterlite-pyodide-kernel>=0.4.7,<0.5

# Specific to generating SymPy Live index page
jinja2==3.1.5
babel==2.16.0