:root {
  /* Light theme variables */
  --bg-color: #eee;
  --text-color: #222;
  --link-color: #4faf00;
  --link-visited: #577c37;
  --header-color: #3b5526;
  --nav-bg: #3b5526;
  --content-bg: #fff;
  --border-color: #ccc;
}
/* Dark theme overrides */
[data-theme="dark"] {
  --bg-color: #14181d;
  --text-color: #e4e4e4;
  --link-color: #81b953;
  --link-visited: #6fa346;
  --header-color: #81b953;
  --nav-bg: #1a1f25;
  --content-bg: #1e242c;
  --border-color: #2a3139;
}
/* Theme toggle button styles */
.theme-toggle {
  background: transparent;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: inherit;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: inherit;
}

.theme-emoji {
  font-size: 1.2em;
}

.theme-text {
  font-family: inherit;
  font-size: inherit;
}

/* Update existing styles to use CSS variables */
.small {
  font-size: 11px;
}
.hightlight {
  background-color: #d6e7c7;
}
a:link {
  color: var(--link-color);
  text-decoration: none;
}
a:visited,
a:active {
  text-decoration: none;
  color: var(--link-visited);
}
a:hover {
  text-decoration: underline;
}
h1,
h2,
h3 {
  color: var(--header-color);
}
body {
  font-size: 1em;
  color: var(--text-color);
  background: var(--bg-color);
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
#header h1 a:link,
#header h1 a:active,
#header h1 a:hover,
#header h1 a:visited {
  color: var(--header-color);
}
#main .block .content {
  background: var(--content-bg);
  padding-top: 1px;
  max-width: 800px;
  min-width: 500px;
  margin-top: 10px;
}
#main-navigation {
  background: var(--nav-bg);
}

:root {
  --bg-color: #eee;
  --text-color: #222;
  --link-color: #4faf00;
  --link-visited: #577c37;
  --header-color: #3b5526;
  --nav-bg: #3b5526;
  --content-bg: #fff;
  --border-color: #ccc;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

#content,
.sidebar_card {
  background-color: var(--content-bg);
  border: 1px solid var(--border-color);
  border-radius: 7px;
}
a:link {
  color: var(--link-color);
}
a:visited,
a:active {
  color: var(--link-visited);
}
pre {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
}
.small {
  font-size: 11px;
}
a:link {
  color: #4faf00;
  text-decoration: none;
}
a:visited,
a:active {
  text-decoration: none;
  color: #577c37;
}
h1,
h2,
h3 {
  color: #3b5526;
}
a {
  -moz-outline: none;
}
body {
  font-size: 1em;
  color: #222;
  background: #eee;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  line-height: 125%;
}

hr {
  background: #f0f0ee;
  color: #f0f0ee;
}
#header h1 {
  font-family: "Gentium Basic", "Times New Roman", serif;
  font-weight: bold;
}

#header h1 a:link,
#header h1 a:active,
#header h1 a:hover,
#header h1 a:visited {
  color: #3b5526;
}

#main .block .content {
  background: #fff;
  padding-top: 1px;
  max-width: 800px;
  min-width: 500px;
  margin-top: 10px;
}

#main .block .content h2 {
  margin-left: 15px;
}

#main-navigation {
  background: #3b5526;
}

#main-navigation ul li a {
  padding: 3px 10px;
}

#main-navigation ul li:hover {
  background-color: #5b7745;
}

#main-navigation ul li.active {
  font-weight: bold;
}

#main-navigation ul li a:hover,
#main-navigation ul li a:link,
#main-navigation ul li a:visited,
#main-navigation ul li a:active,
.secondary-navigation ul li a:link,
.secondary-navigation ul li a:visited,
.secondary-navigation ul li a:hover,
.secondary-navigation ul li a:active {
  text-decoration: none;
  color: #fff;
}

#user-navigation ul li a:link,
#user-navigation ul li a:visited,
#user-navigation ul li a:active {
  color: #3b5526;
}
#user-navigation ul li a:hover {
  color: #fff;
}
#main-navigation ul li.active a:link,
#main-navigation ul li.active a:visited,
#main-navigation ul li.active a:hover,
#main-navigation ul li.active a:active {
  background-color: #81b953;
  border-radius: 5px;
}

.secondary-navigation {
  background: #3b5526;
  border-bottom: 5px solid #81b953;
}

.secondary-navigation ul li a {
  display: block;
  padding: 8px 12px;
}
.secondary-navigation ul li.active {
  background: #81b953;
  font-weight: bold;
}
.secondary-navigation ul li.active a:hover {
  background-color: #81b953;
}

.secondary-navigation li a:hover {
  background: #81b953;
}

#quicklinks ul {
  padding-left: 20px;
}

/* tables */


.table th {
  background: #253618;
  color: #fff;
}
.table tr th {
  padding: 5px;
}
.table td {
  border-bottom: 1px solid #f0f0ee;
}
.table tr.odd {
  background: #ebfadf;
}
.table tr.even {
  background: #d3e8c1;
}
/* forms */

.form input.text_field,
.form textarea.text_area {
  width: 100%;
  border: 1px solid #262626;
}

.form input.button {
  background: #eee;
  color: #262626;
  padding: 2px 5px;
  border: 1px solid #262626;
  cursor: pointer;
}
.form .description {
  font-style: italic;
  color: #8c8c8c;
  font-size: 0.9em;
}

/* lists */

ul.list li {
  border-bottom-color: #f0f0ee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

ul.list li .item .avatar {
  border-color: #f0f0ee;
  border-width: 1px;
  border-style: solid;
  padding: 2px;
}
#main .content,
.sidebar_card {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  background: #fff;
}

.sidebar_card {
  padding: 0.5em;
  overflow: hidden;
  margin: 0 0 30px;
}
.sidebar_card p,
.sidebar_card h3 {
  margin: 0 0 0.5em;
}

.sidebar_card h3 {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.25em;
}
