name: Build and Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
  # To ensure we always fetch the latest SymPy wheel
  # and build the site daily
  schedule:
    - cron: "0 3 * * *"
  # Allow manual trigger to rebuild if something failed
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install JupyterLite dependencies
        run: |
          python -m pip install -r requirements.txt

      - name: Download latest stable SymPy wheel
        run: |
          mkdir -p custom_wheels
          python -m pip download sympy \
          --only-binary=:all: \
          --no-deps \
          --dest custom_wheels

      - name: Reduce the size of the wheel
        run: pipx run unvendor_tests_from_wheel.py custom_wheels/

      - name: Build the JupyterLite site
        run: jupyter lite build

      - name: Add custom index.html (live.sympy.org landing page) and static/ files
        run: pipx run generate_index.py

      - name: Add CNAME file containing live.sympy.org
        run: echo "live.sympy.org" > ./_output/CNAME

      - name: Upload (dist)
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: jupyterlite-demo-dist-${{ github.run_number }}
          path: ./_output
          if-no-files-found: error

  deploy:
    if: github.ref == 'refs/heads/main'
    needs: build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: jupyterlite-demo-dist-${{ github.run_number }}
          path: ./dist
          merge-multiple: true

      - name: Deploy
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          force_orphan: true
          publish_dir: dist
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
